:host::ng-deep {
    .ant-table-thead>tr>th {
        background-color: #202128;
        color: #ffffff;
    }
    .ant-table-row {
        background: #181920;
        color: #fff;
    }
    .ant-table-row-expand-icon {
        color: #31a0db;
        border: none;
        background: none;
        font-size: 16px;
    }
    .table-box {
        margin-top: 100px;
        background: #181920;
        padding: 10px;
    }
    .ant-table-pagination.ant-pagination {
        display: none;
    }
}